@import url('https://fonts.googleapis.com/css?family=Lato');
body{
  font-family: 'Lato', sans-serif;
}

.navbar{
  background: #ffffff !important;
}








.our-team-image{
  height: 100px;
  width:100px;
  margin-top: 40px;
  margin-right: 5px;
 
  
}







/* ==========================================================================
   Wrap Sections
   ========================================================================== */

   #headerwrap {
    background: url("img/cuk.jpeg") no-repeat center;
    margin-top: -50px;
    padding-top:120px;
    text-align:center;
    background-attachment: relative;
    background-position: center center;
    min-height: 650px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
  
  #headerwrap h1 {
    color:#ffffff;
    margin-top: 90px;
    padding-bottom: 30px;
    letter-spacing: 8px;
    font-size: 50px;
    font-weight: bold;
   font-family: Lato;
  }
  
  #headerwrap p {
    color:#ffffff;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 40px;
    letter-spacing: 3px;
    margin-left: 15px;
   
  }
  
  #greywrap {
    background: #f5f5f5;
    margin-top: 0px;
    padding-top: 40px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  #greywrap .callout {
    margin-bottom: 20px;
  }
  
  #greywrap p {
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 1px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #greywrap .icon {
    font-size: 60px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  

/* About Page */





#about{
  font-family: "Lato";
  font-weight: 300;
  font-size: 16px;
  color: rgb(26, 22, 22);

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#about h1{
  font-family: "Raleway";
  text-align: center;
    font-weight: 500;
    color: #333;
    padding-top: 0px;
}

#about p{
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #2b2b2b;

}


/* Section Dividers */
.section-divider {
  z-index: 999;
  width: 100%;
  display: table;
  max-height: 450px;
  border-bottom: 2px solid #E6EAED;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 70px;
  margin-top: 45px;
  background-position: center center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-attachment: relative;
  
  text-align: center;
}

.textdivider h1 {
padding-top: 70px;
color: white;
font-size: 40px;
}

.textdivider p {
color: white;
font-size: 25px;
}
  #footerwrap {
    background: #2b2b2b;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  #footerwrap h4 {
    color: white;
  }
  
  
  /* ==========================================================================
     Box Sections
     ========================================================================== */
  
  .white h1 {
    padding-top: 35px;
  }
  
  .white p {
    padding-top: 25px;
  }
  
  /* Section Dividers */
  .section-divider {
      z-index: 999;
      width: 100%;
      display: table;
      max-height: 450px;
      border-bottom: 2px solid #E6EAED;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      box-sizing: border-box;
      padding-top: 30px;
      padding-bottom: 70px;
      margin-top: 45px;
  
  
      background-position: center center;
  
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
  
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  
      background-attachment: relative;
      
      text-align: center;
  }
  
  .textdivider h1 {
    padding-top: 70px;
    color: white;
    font-size: 40px;
  }
  
  .textdivider p {
    color: white;
    font-size: 25px;
  }
  



/* Schedule Area */
#schedules img{
  height: 60px;
  width: 60px;
}
#schedules {
  background: #f3f4f3;
}

#schedule-tab {
  position: relative;
}

.schedule .schedule-tab-title {
  margin-bottom: 35px;
}

.schedule .schedule-tab-title .nav-tabs {
  background: #ffffff;
}

.schedule .schedule-tab-title .nav-tabs .nav-link {
  border-radius: 0px;
  position: relative;
  cursor: pointer;
  height: 90px;
  width: 255px;
  border-bottom: 1px solid #e5e5e5;
  transition: all 500ms ease;
  padding: 20px 20px;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link, .schedule .schedule-tab-title .nav-tabs .nav-link.active,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover {
  background: #E91E63;
  border: 1px solid #E91E63;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h4, .schedule .schedule-tab-title .nav-tabs .nav-link.active h4,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h4 {
  color: #fff;
}

.schedule .schedule-tab-title .nav-tabs .nav-item.show .nav-link h5, .schedule .schedule-tab-title .nav-tabs .nav-link.active h5,
.schedule .schedule-tab-title .nav-tabs .nav-item .nav-link:hover h5 {
  color: #fff;
}

.schedule .schedule-tab-title .item-text h4 {
  font-size: 15px;
  color: #2f323c;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}

.schedule .schedule-tab-title .item-text h5 {
  font-size: 14px;
  color: #848484;
  line-height: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.schedule .schedule-tab-content .tab-content {
  box-shadow: 1px 3px 15px rgba(0, 0, 0, 0.1);
}

.schedule .schedule-tab-content .card {
  border: none;
}

.schedule .show .card-body {
  background: #f3f4f3;
}

.schedule .card-header {
  border: none;
  cursor: pointer;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.schedule .card-header .images-box {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}

.schedule .card-header .images-box img {
  border-radius: 50%;
}

.schedule .card-header .time {
  color: #777777;
  font-size: 13px;
  margin-bottom: 5px;
}

.schedule .card-header h4 {
  font-weight: 700;
  font-size: 18px;
  color: #212121;
  margin-bottom: 8px;
}

.schedule .card-header .name {
  position: relative;
  font-size: 14px;
  color: #777777;
  font-weight: 500;
  display: inline-block;
  margin-bottom: 5px;
}

.schedule .card-body {
  padding: 15px 70px 15px 110px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

.schedule .card-body .location {
  font-size: 13px;
  color: #777777;
}

.schedule .card-body .location span {
  color: #E91E63;
  margin-right: 5px;
}

.accordion .card {
  border-radius: 0px;
  margin-bottom: -2px;
}

.accordion .header-title {
  position: relative;
}

.accordion .header-title:after {
  font-family: "LineIcons";
  content: "\e93a";
  position: absolute;
  right: 10px;
  color: #999;
  top: 50%;
  line-height: 1;
  padding: 0px 5px;
  margin-top: -7px;
}

.accordion .collapsed:after {
  content: "\e940";
}

.accordion .card-header {
  background: transparent;
  cursor: pointer;
  padding: 0;
}

.accordion .card-header i {
  color: #E91E63;
  width: 40px;
  height: 40px;
  display: inline-block;
  line-height: 40px;
  text-align: center;
  margin-right: 10px;
  border-right: 1px solid #ddd;
}

.accordion .card-body {
  padding-left: 56px;
}






/* Our TEam
--------------------------------*/
#more-features {
  padding: 60px 0 60px 0;
}

#more-features .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  transition: 0.4s;
}

#more-features .icon {
  float: left;
}

#more-features .icon i {
  color: #666666;
  font-size: 80px;
  transition: 0.5s;
  line-height: 0;
}

#more-features .icon i:before {
  background: #1dc8cd;
  background: linear-gradient(45deg, #1dc8cd 0%, #55fabe 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#more-features h4 {
  margin-left: 100px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#more-features h4 a {
  color: #111;
}

#more-features p {
  font-size: 14px;
  margin-left: 100px;
  margin-bottom: 0;
  line-height: 24px;
}

@media (max-width: 767px) {
  #more-features .box {
    margin-bottom: 20px;
  }
  #more-features .icon {
    float: none;
    text-align: center;
    padding-bottom: 15px;
  }
  #more-features h4, #more-features p {
    margin-left: 0;
    text-align: center;
  }
}





/* Event slides */
#event-slides {
  background-color: #ffffff;
  font-weight: 300;
    font-size: 16px;
    color: #555;
 
}

#event-slides .video img {
  border-radius: 4px;
}

#event-slides .intro-desc {
  line-height: 26px;
  margin-bottom: 30px;
  font-family: Raleway;
}

#event-slides .intro-title {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

#event-slides .list-specification li {
  margin-bottom: 10px;
  font-size: 15px;
}

#event-slides .list-specification li i {
  margin-right: 5px;
}


.section-padding {
  padding: 60px 0;
}
  
  /* Section Dividers Backgrounds */
  
  .divider1 {
    background-image: url('img/2.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .divider2 {
    background-image: url('img/frt.jpeg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .divider3 {
    background-image: url('img/3.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
  }
  
  .divider4 {
    background-image: url('img/graphes.jpeg')
  }
  
  .divider6 {
    background-image: url('../img/bg/divider6.jpg')
  }
  

/*article*/
article.card {
	border: none;
	box-shadow: 0 0 40px rgba(0,0,0,.05);
	-webkit-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-moz-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-ms-box-shadow: 0 0 40px rgba(0,0,0,.05);
	-o-box-shadow: 0 0 40px rgba(0,0,0,.05);
	margin-bottom: 60px;
}

article.card .card-img-top img :hover  {
  -webkit-filter: blur(5px);
  
}
section.bg-grey {
	background-color: #f9f9f9;
}
section .section-title {
  font-size: 50px;
  padding: 20px;
  font-weight: 700;
}
article.card .card-title {
	font-size: 20px;
  line-height: 28px;
  font-family: Lato;
  text-align: center;
}

article.card .card-title a {
	color: #000;
	text-decoration: none;
}

article.card .card-title a:hover {
	opacity: .8;
}

article.card .card-text {
	color: #666;
  line-height: 26px;
  text-align: center;
  font-family: Lato;
}

article.card .card-subtitle {
	font-size: 14px;
	color: #666;
}

article.card .card-subtitle a {
	color: #666;
	border-bottom: 1px dotted #666;
	text-decoration: none;
}

article.card .card-more {
	text-transform: uppercase;
	font-weight: 800;
	text-transform: 2px;
	color: #000;
	display: inline-block;
	margin-top: 10px;
	font-size: 14px;
}

article.card .card-more i {
	margin-left: 5px;
}

/*subscribe*/
.subscribe {
	position: relative;
}

.subscribe .form-control,
.subscribe .btn {
	height: 45px;
}



/* Contact Section
--------------------------------*/
#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
}

#contact .contact-about h3 {
  font-size: 20px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}


#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #1dc8cd;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 10px 42px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #1dc8cd;
  border: 1px solid #1dc8cd;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: linear-gradient(45deg, #674ff0, #1dc8cd);
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
}

#contact .form button[type="submit"]:hover {
  cursor: pointer;
}



/*footer*/
footer {
	padding: 80px 0 60px 0;
	text-align: center;
	background-color: #000;
	color: #fff;
}

footer figure {
	width: 120px;
	margin: 0 auto;
	margin-bottom: 30px;
}

footer figure img {
	width: 100%;
}

footer p {
	font-weight: 600;
	letter-spacing: 1.5px;
	font-size: 12px;
	color: #777;
	margin-bottom: 10px;
	text-transform: uppercase;
}

footer i {
	color: #ff0000;
}



/* Gallery */


.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}
